.header {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  height: 40px;
  justify-content: space-between;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__btn {
  /* margin-left: auto; */
  margin-right: 20px;
  background-color: transparent;
  border: none;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.header__btn:hover {
  cursor: pointer;
}

.header__logo {
  margin-right: 24px;
  height: 40px;
  width: 89px;
}
.header__username {
  margin: 0;
  margin-right: 12px;
  align-content: center;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__place {
  align-content: center;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: black;
}
