.modal__caption {
  color: #2f2f2f;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  width: fit-content;
  border-radius: 8px;
  padding: 0px;
  margin: 8px 0 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 32px;
}

.modal__caption-top{
  margin-top: 20px;
  margin-bottom: 12px;
}

/* .modal-caption-bottom{
  margin-top: 12px;
} */

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 16px 16px 0 0;
}

.modal__image-container {
  width: 498px;
  height: 610px;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}

.modal__close-img-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  height: 20px;
  width: 20px;
  background-image: url(../../assets/union.svg);
}

